@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.25rem, calc(1.34rem + -0.12vw), 1.31rem);
  font-weight: 400;
  line-height: 36px;
  color: #252525;
  background-color: #fff;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.article-page__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-forex-bot {
  padding: 23px 71px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 7px;
  background-color: #516eb9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-forex-bot:focus, .btn-forex-bot:hover {
  color: #fff;
  background-color: #5787ff;
}

.section-padding {
  padding: 70px 0;
}

.main-article-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.main-article-header.show-shadow {
  -webkit-box-shadow: 20px 20px 50px -20px rgba(177, 177, 177, 0.2);
          box-shadow: 20px 20px 50px -20px rgba(177, 177, 177, 0.2);
}

.article-page__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 70px;
}

.article-page__link {
  position: relative;
  font-size: 1rem;
  text-decoration: none;
  color: #6a6a6a;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.article-page__link:hover, .article-page__link:focus {
  color: #2c67fe;
}

.article-page__link:after,
.article-page__link:after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #2c67fe;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.article-page__link:focus:after,
.article-page__link:hover:after {
  width: 100%;
}

.article-page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.article-page-footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-page__link-footer {
  color: #fff;
}

.article-page-footer,
.article-page-footer__menu {
  background-color: #262626;
}

.article-page-footer__all-rights-reserved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.2);
  background-color: #202020;
  padding: 20px 0;
}

.article-page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-page-footer__menu {
  padding: 50px 0;
}

.forex-hero {
  background-color: #f6fafc;
  padding: 150px 0 70px;
}

.forex-hero__author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 1fr;
      grid-template-columns: 35px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.forex-hero__author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 170px;
}

.forex-hero__author-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  gap: 10px;
}

.forex-hero__title {
  max-width: 550px;
  color: #03206c;
  font-size: clamp(1.31rem, calc(0.61rem + 3.54vw), 3.13rem);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 40px;
}

.forex-hero__author-name {
  font-size: 14px;
  font-weight: 700;
}

.forex-hero__author-date {
  font-size: 10px;
  line-height: 14px;
  color: #6a6a6a;
}

.author-black-shadow {
  -webkit-filter: drop-shadow(0px 6px 20px rgba(125, 125, 125, 0.2));
          filter: drop-shadow(0px 6px 20px rgba(125, 125, 125, 0.2));
}

.forex-hero__social-media-icon {
  fill: #2c67fe;
}

.forex-hero__social-media-icon:hover, .forex-hero__social-media-icon:focus {
  fill: #5787ff;
}

.forex-hero__social-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  max-width: 122px;
  gap: 26px;
}

.forex-hero__description-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 1fr;
      grid-template-columns: 35px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 36px;
}

.forex-article__note-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 30px;
  margin-bottom: 70px;
  background-color: #f9f9f9;
}

.forex-article__note-container::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 4px;
  height: 100%;
  background-color: #2c67fe;
}

.forex-why-use__sub-header,
.forex-why-use__title,
.forex-article__note-header {
  font-weight: 700;
  color: #03206c;
}

.forex-why-use__title {
  font-size: clamp(1.31rem, calc(0.85rem + 2.32vw), 2.5rem);
  margin-bottom: 40px;
}

.forex-article__paragraph {
  color: #252525;
}

.forex-article__paragraph-one {
  margin-bottom: 50px;
}

.forex-why-use__img-description {
  font-size: 14px;
  color: #aaaaaa;
  margin-top: 26px;
}

.forex-why-use__sub-header {
  margin-bottom: 34px;
}

.forex-why-use__bottom-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.icon-document {
  margin-top: 10px;
}

.forex-why-use,
.forex-benefit {
  padding: 0 0 50px;
}

.forex-hero {
  background-image: url("../../img/forex-trader-bot.png");
  background-position: 75% 100px;
  background-repeat: no-repeat;
  background-size: 40%;
}

@media (max-width: 1198px) {
  .forex-hero__title {
    font-size: clamp(1.31rem, calc(0.85rem + 2.32vw), 2.5rem);
  }
}

@media (max-width: 991.98px) {
  .article-page__list {
    display: none;
  }
  .forex-hero__title {
    font-size: clamp(1.31rem, calc(1.09rem + 1.1vw), 1.88rem);
    max-width: 330px;
  }
}

@media (max-width: 767.98px) {
  .forex-hero__title {
    font-size: 40px;
    max-width: 470px;
  }
  .forex-hero__header {
    margin-top: 230px;
  }
  .forex-hero {
    background-position: 50% 80px;
    background-size: 60%;
  }
}

@media (max-width: 575.98px) {
  .section-padding {
    padding: 50px 0;
  }
  .forex-article__note-container {
    margin-bottom: 50px;
  }
  .forex-why-use__title {
    margin-bottom: 30px;
  }
  .forex-article__note-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .forex-article__note-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  .forex-article__note-text {
    font-size: 1rem;
    line-height: 24px;
  }
  .icon-document {
    margin: 0 0 10px;
  }
  .forex-article__note-header {
    margin-bottom: 30px;
  }
  .forex-hero__title {
    font-size: 1.875rem;
    margin-bottom: 10px;
    max-width: 350px;
  }
  .forex-hero__author {
    margin-bottom: 20px;
  }
  .forex-hero {
    padding: 90px 0 50px;
  }
  .btn-forex-bot {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 10px;
  }
  .article-page-logo {
    width: 80px;
  }
  .forex-article__paragraph {
    font-size: 1rem;
    line-height: 24px;
  }
  .forex-why-use__title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .forex-why-use__sub-header {
    font-size: 1rem;
    line-height: 24px;
  }
  .forex-why-use__img-description {
    line-height: 20px;
  }
  .forex-hero__header {
    margin-top: 50%;
  }
}

@media (max-width: 320px) {
  .forex-hero__title {
    font-size: 24px;
    max-width: 260px;
  }
}
/*# sourceMappingURL=article-page.css.map */